@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }

  header,
  main,
  section,
  aside,
  footer {
    width: 100%;
  }
  body {
    font-family: "Comic Neue", cursive, sans-serif;
    border: 1px solid black;
  }
  header {
    text-align: center;
  }
  header nav {
    font-family: Arial, Helvetica, sans-serif;
  }

  header span {
    color: gray;
    display: block;
    margin-bottom: 1rem;
  }
  header h1 {
    margin-bottom: 0.5rem;
  }
  .nome {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }
  header ul {
    padding-left: 0;
  }
  header li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
  }

  header a {
    text-decoration: none;
    color: black;
  }
  header li::after {
    content: " /";
  }
  header li:last-child::after {
    content: "";
  }

  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid black;
  }
  .principal li {
    list-style: none;
  }
  .principal a {
    text-decoration: none;
    color: black;
  }
  .principal .profile {
    color: rgb(6, 117, 182);
  }
  .projetos ul {
    background-color: silver;
    padding-left: 0;
    border-top: 1px solid black;
    margin-bottom: 0;
    margin-top: 0;
  }
  .projetos li {
    border-bottom: 1px solid black;
    padding: 0.5rem;
  }
  .projetos li a {
    display: block;
  }
  .projetos h2 {
    margin: 0.5rem;
  }
  .exp {
    background-color: silver;
    text-align: left;
  }
  .exp a {
    padding-left: 0.5rem;
  }
  .exp h2 {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
  }
  .exp p {
    padding: 0.5rem;
    margin: 0;
  }
  .open-source {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem;
  }
  .open-source h3 {
    margin: 0.2rem;
    font-weight: normal;
  }

  .edu {
    text-align: left;
  }
  .edu h2 {
    text-align: center;
    margin-top: 1rem;
  }
  .edu p,
  h3 {
    padding-left: 0.5rem;
  }
  .edu li::before {
    content: "- ";
  }

  .avaliacoes {
    border-top: 1px solid black;
  }
  .avaliacoes ul {
    list-style: none;
    padding-left: 0;
  }
  .comentarios li:nth-child(n + 2) {
    display: none;
  }
  .comentarios li {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.5rem;
    margin: 0.7rem;
  }
  .comentarios li span {
    display: block;
    color: dimgray;
  }

  footer {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  a {
    color: black;
  }
  header {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 4.5rem;
  }
  header ul {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding-right: 1rem;
  }
  header li::after {
    content: " /";
  }
  header li:last-child::after {
    content: "";
  }
  header h1 {
    font-size: 3rem;
  }
  .nome {
    padding-left: 1rem;
    color: black;
    font-weight: bold;
  }
  header span {
    color: silver;
    font-size: 1.5rem;
  }

  .principal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr;
  }

  .projetos {
    border-right: 1px solid black;
  }

  .projetos h2 {
    padding-left: 1rem;
    font-size: 1.5 rem;
    margin-top: 0.3rem;
  }
  .projetos li {
    margin: 0.8rem 0 0.8rem;
    padding: 0.3rem;
    border-bottom: 1px solid black;
  }
  .projetos li:last-child {
    border-bottom: none;
  }

  .projetos li a {
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .exp {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .exp h2,
  .exp a,
  .exp p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .exp a,
  .exp p,
  .exp h2,
  .exp h3 {
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  .open-source {
    border-top: 1px solid black;
    padding-right: 0.5rem;
  }
  .open-source h3 {
    font-weight: normal;
  }

  .profile {
    color: rgb(7, 146, 201);
    font-size: 1.5rem;
  }

  .open-source p,
  .open-source a,
  .open-source h3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
  }

  .edu {
    border-left: 1px solid black;
    padding-left: 0.8rem;
  }

  .edu h2,
  .edu p,
  .edu h3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.25rem;
  }

  .edu h2 {
    font-size: 1.5rem;
  }
  .edu h3 {
    font-weight: normal;
    margin: 1rem 0 1rem 0;
  }
  .edu li {
    font-size: 1.25rem;
    margin-left: 1rem;
  }
  .edu li::marker {
    content: "-";
  }

  .avaliacoes ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .avaliacoes li {
    border: 1px solid black;
    border-radius: 40px;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 1.5rem 0 1.5rem;

    max-width: 300px;
  }

  .avaliacoes h3 {
    margin: 2rem 0 2rem;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .comentarios {
    margin: 0 1rem 0 1rem;
  }
  .avaliacoes span {
    display: block;
    color: silver;
  }

  footer {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}