* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

.layout {
  padding: 1rem;
  gap: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0.5rem;
  height: 34rem;
}
main {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.formulario {
  gap: 0.5rem;
  font-size: 1rem;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario button {
  display: block;
  margin-bottom: 0.5rem;
}

.formulario input {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 1rem 0.8rem 0;
  padding-left: 0.3rem;
}

input:invalid {
  border-color: red;
}

input:placeholder-shown {
  border-color: black;
}

.erro {
  display: none;
  color: red;
  font-size: 0.8rem;
}

input:invalid:not(:placeholder-shown) + .erro {
  display: block;
}

.senha {
  display: flex;
  flex-direction: column;
}

.campo-senha {
  position: relative;
}

.campo-senha input {
  padding-right: 1.5rem;
}

.campo-senha button {
  position: absolute;
  right: 1.5rem;
  top: 30%;
  transform: translateY(-50%);
  background: none;
  width: 15px;
  height: 15px;
}

.campo-senha img {
  width: 100%;
  height: 100%;
}

.campo-senha button {
  border: none;
}
.botao_perfil {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 0.35rem 0 0.35rem 0;
  width: 80%;
  align-self: center;
}
.progresso {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(black 0% 65%, lightgray 65% 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  font-size: 1rem;
}

.progresso::before {
  content: "";
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  position: absolute;
}
.progressao span {
  position: relative;
  z-index: 1;
}

.etapas {
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem;
}

.etapas ul {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  padding: 1rem;
  list-style-type: none;
  margin-top: 0.5rem;
}
.etapas li del {
  color: grey;
}
footer {
  text-align: center;
  font-size: 1rem;
  margin: -1rem;
}
